<section class="hero">
  <div class="hero-content">
    <div class="top-label">
      <span class="line"></span>
      <span class="label-text">Spring / Summer 2026</span>
    </div>

    <h1 class="hero-title">
      EVERYDAY <br />
      <span class="outline">ELEVATED.</span>
    </h1>

    <p class="hero-description">
      Discover the intersection of high-end craftsmanship and minimalist design.
      Curated for the modern individual.
    </p>

    <div class="hero-actions">
      <button class="btn-ghost" [routerLink]="['/collections']">
        Shop Collection
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="1.5"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <line x1="5" y1="12" x2="19" y2="12"></line>
          <polyline points="12 5 19 12 12 19"></polyline>
        </svg>
      </button>
    </div>
  </div>

  <div class="hero-visual">
    <div class="glow-effect"></div>
    <img
      src="https://plus.unsplash.com/premium_photo-1664202526559-e21e9c0fb46a?q=80&w=1740&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
      alt="Premium Product"
      class="floating-img"
    />

    <div class="vertical-tag">AURA / CORE SERIES</div>
  </div>

  <!-- <div class="scroll-indicator">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
  </div> -->
</section>
