<section class="orders-container">
  <header class="page-header">
    <h1 class="page-title">Order History</h1>
  </header>

  @if (isLoading()) {
    <app-loader />
  } @else if (orders().length > 0) {
    <div class="orders-list">
      @for (order of orders(); track order.id) {
        <div class="order-card">
          <!-- Summary Header -->
          <div class="order-meta">
            <div class="meta-group">
              <span class="label">Ref.</span>

              <span class="value"> #{{ order.id.slice(0, 8) }} </span>
            </div>

            <div class="meta-group">
              <span class="label">Date</span>

              <span class="value">
                {{ order.createdAt.toDate() | date: "mediumDate" }}
              </span>
            </div>

            <div class="meta-group">
              <span class="label">Status</span>

              <span class="status-pill" [attr.data-status]="order.status">
                {{ order.status }}
              </span>
            </div>

            <!-- <div class="meta-group">
              <span class="label">Payment Method</span>

              <span class="value">
                {{ order.paymentMethod | currency }}
              </span>
            </div> -->
          </div>

          <!-- Item Details -->
          <div class="order-items">
            @for (item of order.items; track item.id) {
              <div class="mini-item">
                <img
                  [src]="item.thumbnail"
                  [alt]="item.title"
                  class="item-img"
                />

                <div class="item-info">
                  <p class="item-name">
                    {{ item.title }}
                  </p>

                  <p class="item-qty">Quantity: {{ item.quantity }}</p>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <div class="empty-state">
      <h2 class="empty-title">No Orders Yet</h2>

      <button class="shop-btn" routerLink="/collections">
        Explore Collections
      </button>
    </div>
  }
</section>
