/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "notyf/notyf.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #000000; // Force the void
  color: #ffffff;
}

/* src/styles.scss */

// 1. Theme Variables
:root {
  --bg-body: #000000;
  --bg-black: #000000;
  --card-bg: #111111;
  --input-bg: #1a1a1a;
  --border-color: #262626;
  --text-main: #ffffff;
  --text-muted: #a1a1aa;
  --primary: #ffffff;
  --primary-hover: #e5e5e5;
  --glass-bg: rgba(255, 255, 255, 0.05);
}

[data-theme="light"] {
  --bg-body: #f8f8f8;
  --bg-black: #ffffff;
  --card-bg: #ffffff;
  --input-bg: #f1f1f1;
  --border-color: #e5e5e5;
  --text-main: #121212;
  --text-muted: #71717a;
  --primary: #000000;
  --primary-hover: #262626;
  --glass-bg: rgba(0, 0, 0, 0.05);
}

// 2. Base Styles
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--bg-body);
  color: var(--text-main);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

// 3. Error color (Global)
.text-error {
  color: #ff453a;
}

/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  display: none;
}

/* Firefox */
html {
  scrollbar-width: none;
}

/* IE/Old Edge */
body {
  -ms-overflow-style: none;
}
